* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.tools-content {
    height: 60px;
    /* background: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools {
    width: 73%;
    height: 80%;
    background: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
}

.tool {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* cursor: pointer; */
    position: relative;
}

.tool img {
    height: 73%;
    width: 59%;
    cursor: pointer;
}

.canvas-content {
    height: calc(100vh - 60px);
    //overflow: hidden;
}

#canvas {
}

.active-element {
    /* height: 100%; */
    /* width: 38%; */
    height: 73% !important;
    border-radius: 12px;
    background: #f4fcff;
}

.tool-options {
    position: absolute;
    top: 55px;
    width: 130px;
    height: 100px !important;
    border: 1px solid lightgrey;
    border-radius: 10px;
    left: 11px;
    display: flex;
    background: aliceblue;
    flex-direction: column;
    justify-content: space-around;
}

.pencil-size {
    text-align: center;
}

.pencil-size input {
    width: 88%;
}

.pencil-colors {
    justify-content: space-evenly;
    display: flex;
}

.pencil-colors div {
    height: 20px;
    width: 20px;
    border-radius: 50px;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
}

.black {
    background: black;
}

.hide {
    display: none;
}

.eraser-size {
    text-align: center;
}

.eraser-size input {
    width: 88%;
}
