*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.menu{
    border: 1px solid;
    height: 30px;
}

.menu-options{
    border: 1px solid;
    height: 60px;
}

.address-content{
    border: 1px solid;
    height: 30px;
}

.cells-content{height: calc( 100vh - 150px);/* background: #77ff77; */position: relative;overflow: auto;}

.sheets{
    /* border: 1px solid; */
    height: 30px;
    display: flex;
    /* width: 30px; */
    background: #eff2f3;
}

.row{

display: flex;

/* height: 5%; */

/* width: 100%; */

/* align-items: center; */
}

.cell{
    
border: 1px solid;
    
/* height: 100%; */
    
/* width: 8%; */
    
min-height: 30px;
    
/* background: aliceblue; */
    
min-width: 70px;
    
max-width: 70px;
}

.top-left-cell{

height: 30px;

width: 30px;

position: absolute;

background: aliceblue;

z-index: 3;
}

.top-row{
    display: flex;
    position: absolute;
    background: #3dc41f;
    left: 30px;
    /* top: 120px; */
    z-index: 2;
    /* left: 30px; */
}

.top-row-cell{
    border: 1px solid;
    min-height: 30px;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-col{
    background: #3dc41f;
    width: 30px;
    position: absolute;
    z-index: 2;
    top: 30px;
}

.left-col-cell{
    height: 30px;
    width: 30px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cells{
    position: absolute;
    top: 30px;
    /* background: floralwhite; */
    left: 30px;
}

.add-sheet{
    width: 30px;
    border-right: 1px solid darkgray;
    display: flex;
    align-items: center;
    /* background: aqua; */
    justify-content: center;
}

.fas{}

.fa-plus{}

.sheets-list{
    display: flex;
    height: 100%;
}

.sheet{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid lightgray;
    width: 70px;
    font-size: 0.8rem;
    height: 100%;
    cursor: pointer;
}

.active-sheet{
    background: white;
    font-weight: bold;
}

.add-sheet .fas{
    
color: green;
}